@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.main-403 {
  font: normal 100%/1.15 "Merriweather", serif;
  background: #fff url("./images/textura.jpg?raw=1") repeat 0 0;
  color: #fff;
  height: 80dvh;
  padding: 5rem 1em;
}


.wrapper-403 {
  position: relative;
  height: auto;
  margin: 4rem auto 0 auto;
  background: transparent url("./images/valla.png?raw=1") no-repeat center top 24em;
}

/* https://www.vecteezy.com/vector-art/237238-dog-family-colored-doodle-drawing */
.box-403 {
  max-width: 70%;
  min-height: 520px;
  margin: 0 auto;
  text-align: center;
  background: transparent url("../../assets/dogys_noBg.webp") no-repeat top 12rem center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-403 {
  font-size: 10rem;
  text-shadow: 0 0 6px #8b4d1a;
}

.text-403 {
  font-size: 2.3em;
  color: #ea8a1a;
  margin-top: 20rem;
  text-shadow: none;
}

.link-403 {
  border-bottom: 1px dashed #837256;
  font-style: italic;
  text-decoration: none;
  color: #837256;
  font-size: 1.5rem;

}

.link-403:hover { text-shadow: 0 0 3px #8b4d1a; }



@media screen and (max-width: 600px) {
  .wrapper-403 {
    background-size: 300px 114px;
    background-position: center top 22em;
    }

  .box-403 {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: 320px 185px;
  }

  .text-403 { margin-top: 12em; }
}