* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

body {
  background-color: #031242;
  color: #d7d7d7;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;  
  background-color: #031242;
  color: #d7d7d7;
}

.mainHome ,
.mainConexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.mainHome{
  padding-top: 100px;
}
.mainConexion .conexionh1{
  font-size: 2rem;
}

.divlogs{
  display: flex;
  gap: 1rem;
  padding: 6rem 12rem;
  border:#d7f2b256 1px solid;
  border-radius: 1rem;
  margin-top: 3rem;
}

.divlogs button {
  display: flex;
  align-items: center;
  color: #ffffff;
  border: #d7f2b2 1px solid;
  background-color: #5B557B;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  gap: 15px;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
.divlogs button:hover {
  background-color: #f6f6f7;
  color: #000;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #d7d7d745;
  background-color: #0316407b;
  color: #d7d7d784;
}